{% extends 'main/base.html' %}

{% block title %}Форма по добавлению статьи{% endblock title %}

{% block content %}
    <div class="features">
        <h1>Форма по добавлению статьи</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.titel }}<br>
            {{ form.anons }}<br>
            {{ form.full_text }}<br>
            {{ form.date }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Добавить статью</button>
        </form>
        {# Comment #}
    </div>
{% endblock content %}
