{% extends 'main/base.html' %}

{% block title %}{{ article.titel }}{% endblock title %}

{% block content %}
    <div class="features">
        <h1>{{ article.titel }}</h1>
        <p>{{ article.date }}</p>
        <p>{{ article.full_text }}</p>
        <a href="{% url 'news-delete' article.id %}" class="btn btn-danger">Удалить</a>
        <a href="{% url 'news-update' article.id %}" class="btn btn-info">Обновить</a>
        {# Comment #}
    </div>
{% endblock content %}
