{% extends 'main/base.html' %}

{% block title %}Удаление статьи{% endblock title %}

{% block content %}
    <div class="features">
        <h1>Удаление статьи</h1>
        <form method="POST">
            {% csrf_token %}
            <button class="btn btn-success" type="submit">Удалить статью</button>
        </form>
        {# Comment #}
    </div>
{% endblock content %}
