{% extends 'main/base.html' %}

{% block title %}News{% endblock title %}

{% block content %}
    <div class="features">
        <h1>News</h1>
        {% if news %}
            {% for el in news %}
                <div class="alert alert-warning">
                    <h3>{{ el.titel }}</h3>
                    <p>{{ el.anons }}</p>
                    <a href="{% url 'news-detail' el.id %}" class="btn btn-warning">Читать детальнее</a>
                </div>
            {% endfor %}
        {% else %}
            <p>Нет записей</p>
        {% endif %}

        {# Comment #}
    </div>
{% endblock content %}
