{% extends 'main/base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
    <div class="features">
        <h1>About</h1>
        <p>Dratuti</p>
        <button class="btn btn-danger">touch</button>
    </div>
{% endblock content %}
